/*This is mostly a placeholder style sheet for now*/

body {
	text-align:center;
	font-family:impact;
	background-color:#303030;
	color:#ffffff;
}

h3 {
	font-size:20px;
}

#display {
	
	background-color:white;
	color:black;
	
}
